{% extends 'base_admin.html.twig' %}

{% block title %}Product
{% endblock %}

{% block content %}
	<h3 class="p-3">Product</h3>
	<main>
		<div class="container-fluid px-4 mt-3">

			<div class="container h-100">

				<div class="row justify-content-center align-items-center list-table  ">
					<div class="col-12 col-md-10 col-lg-8 mt-4">
						<table class="table">
							<tbody>
								<tr>
									<th>ProductName</th>
									<td>{{ product.productName }}</td>
								</tr>
								<tr>
									<th>ProductCode</th>
									<td>{{ product.productCode }}</td>
								</tr>
								<tr>
									<th>Status</th>
									<td>{{ product.status ? '<span>Available</span>' : '<span style="color:red">Not Available</span>' }}</td>
								</tr>
								<tr>
									<th>InsertTime</th>
									<td>{{ product.insertTime ? product.insertTime|date('Y-m-d H:i:s') : '' }}</td>
								</tr>
								<tr>
									<th>UpdateTime</th>
									<td>{{ product.updateTime ? product.updateTime|date('Y-m-d H:i:s') : '' }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

		</div>
	</main>

	<div class="container mt-3">
		<div class="row float-start">
			<a class="btn btn-sm btn-primary" href="{{ path('app_product_index') }}">back to list</a>
		</div>
	</div>
{% endblock %}
